<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ManHinhChinh.Properties.Settings.ThuVienConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\ThuVien.mdb" providerName="System.Data.OleDb" />
    <add name="QLTVEntities" connectionString="metadata=res://*/QLTV.csdl|res://*/QLTV.ssdl|res://*/QLTV.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN10\SQLEXPRESS;initial catalog=QLTV;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>