<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ManHinhChinh.Properties.Settings.ThuVienConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\ThuVien.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>